.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ff6600;
  border-radius: 10px;
}
.loggedContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #4caf50;
  border-radius: 10px;
}
.loggedContainer span {
  margin: 10px;
}
.link {
  color: #03a9f4;
  cursor: pointer;
}
.btn {
  background-color: #ff6600;
  border: 1px solid transparent;
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
}
